body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #171a23;
  color: white;
  margin: 0;
  padding: 0;
}
.header {
  background-color: #171a23;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  text-decoration: none;
  margin-left: 20px;
}

.title p {
  font-size: 32px;
  color: #fffafa;
}

.search-container {
  background-color: #171a23;
  border-radius: 4px;
  padding: 5px;
}
input[type="text"] {
  border: 1px solid #333;
  border-radius: 3px;
  padding: 10px;
  width: 200px;
  margin-right: 10px;
  background-color: #fffafa;
}
input[type="submit"] {
  background-color: #f99f48;
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
}
.main-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}
.site-info {
  background-color: #171a23;
  padding: 20px;
  text-align: left;
}
.site-info p {
  margin: 5px 0;
}
.card-container {
  padding: 20px 0;
}
.card {
  background-color: #2a3556;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 10px;
}
.card-title {
  margin: 0 0 10px 0;
  font-size: medium;
  font-weight: 300;
}
.card p {
  color: #aaa;
  padding-left: 20px;
}
#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: #f99f48;
  border: none;
  color: #fffafa;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}
